/*Template Styles (header, footer, etc)*/
	@font-face {
  font-family: 'dimboregular';
  src: url('Dimbo_Regular/dimbo_regular-webfont.eot');
  src: url('Dimbo_Regular/dimbo_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Dimbo_Regular/dimbo_regular-webfont.woff') format('woff'),
       url('Dimbo_Regular/dimbo_regular-webfont.ttf') format('truetype'),
       url('Dimbo_Regular/dimbo_regular-webfont.svg#dimboregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

	#banner {
		width: 1144px; 
		height: 243px; 
		margin-right: auto;
		margin-left: auto;
	}

	#buttons {
		width: 1177px;
		height: 75px;
		margin: 0px auto 0px auto;
	}

	.button {
		margin:0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		border-style: none;
	}

	#divider {
		margin: 75px auto 0px auto; 
		width: 1130px; 
	}

	#navlinks {
		margin: 25px auto 50px auto; 
		width: 1130px; 
		text-align: center;
		font:12px Verdana,Arial; 
		color:#555; 
	}

	.navlink {
		text-decoration: none;
		font-weight: bold;
		color: #FFFFFF;
	}

	.navlink:hover {
		color: #000000;
	}

	#homediv {
		width: 75px;
		text-align: center;
		background-color: #70BD17;
		display: inline-block;
		padding: 3px;
		margin-right:10px;
		margin-left: 10px;
		border-radius: 5px;
	}

	#aboutdiv {
		width: 75px;
		text-align: center;
		background-color: #FF9600;
		display: inline-block;
		padding: 3px;
		margin-right:10px;
		margin-left: 10px;
		border-radius: 5px;
	}

	#classesdiv {
		width: 75px;
		text-align: center;
		background-color: #FF006C;
		display: inline-block;
		padding: 3px;
		margin-right:10px;
		margin-left: 10px;
		border-radius: 5px;
	}

	#mediadiv {
		width: 75px;
		text-align: center;
		background-color: #FFE320;
		display: inline-block;
		padding: 3px;
		margin-right:10px;
		margin-left: 10px;
		border-radius: 5px;
	}

	#contactdiv {
		width: 75px;
		text-align: center;
		background-color: #2DB6EA;
		display: inline-block;
		padding: 3px;
		margin-right:10px;
		margin-left: 10px;
		border-radius: 5px;
	}

	hr {
	color: #9A9A9A;
	}

	.clear {
	clear: both;
	}

	img, a {
		border-style: none;
	}

	p {
		font: 12px Verdana,Arial; color:#555;
	}

/*Home Page Style*/ 

	#kidbits {
		float: left;
	}

	#news {
		float: left;
		background: url('Images/recent-news.png') no-repeat;
		width: 489px;
		height: 482px; 
	}

	#pagination {
		width:900px;
	}

	#newscontent {
		width: 385px;
		height: 300px;
		display: inline-block;
		margin: 125px 55px 0px 55px;	
		overflow: scroll;
		text-align: center;
	}

	#newscontent p {
		font-family: Arial; 
		font-size: 16px;
	}

	.smalltxt {
		font-size: 12px;
	}

	#wrapper {
		width: 868px;
		margin: 20px auto 0px auto;
	}

	.container {
		width: 980px;
		margin: 20px auto 0px auto;
	}

/*About Us Styles*/ 

	#aboutcontain {
		width:1144px;
		margin-left:auto;
		margin-right:auto;
		margin-top: 20px;

	}

	#aboutleft {
		margin-top: 10px;
		width: 302px;
		margin-left: 25px;
		float: left;
		text-align: center;
	}

	#aboutleftcontain {
		margin-top: 75px;
		border: solid 1px #9A9A9A;
		border-radius: 10px;
	}

	#aboutleftcontain p {
		margin-left: auto;
		margin-right: auto;
		width: 250px;
		font-family: arial;
		font-size: 12pt;
	}

	#aboutright{
		width: 700px;
		float: left;
		margin-left: 25px;
	}

	#aboutright p {
		width: 700px;
		text-align: justify;
		font-family: arial;
		font-size: 13pt;
	}

	h1 {
		font-family: dimboregular;
		font-size: 26pt;
		margin: 0px 0px 0px 0px;
	}

/*Classes Styles*/

	#calendar {
		width: 1130px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		position: relative;
		z-index: 5;
	}

	#calendar p{
		font-family: arial;
		font-size: 13pt;
	}

/* Class Detail Styles*/
	
	#classdetails {
		width: 1020px;
		margin: 20px auto 0px auto;
	}

	#googlemaps,#classdetailscontent {
		display: inline-block;
		position: relative;

	}

	#classdetailscontent {
		margin-left: 20px;
	}

	#classdetailscontent h1 {
		font-family: dimboregular;
		color: #FF0C7A;
		font-size: 24pt;
		margin: 0px;
	}

	#classexplain {
		position: relative;
		width: 400px;
	}

	#classexplain p {
		position: absolute;
		top: 10px;
		left: 25px;
		text-align: center;
		color: #000000;
	}

	#registerbutton {
		text-align: center;
	}

/*Media Styles*/
	
	#mediacontainer {
		width: 1100px;
		margin: 20px auto 0px auto;
	}

	#twitterfeed, #video, #videolinks {
		display: inline-block;
		position: relative;
	}

	#twitter {
		position: absolute;
		height: 364px;
		width: 262px;
		top: 185px;
		left: 50px;
	}

	#video {
		top: -25px;
	}

	#videoplayer {
		position: absolute;
		top: 147px;
		left: 55px;
	}

	#videolinks {
		top: -80px;
	}

	#video1, #video2, #video3, #video4 {
		position: absolute;
		text-align: center;
		width: 75px;
		font-family: arial;
		font-weight: bold;
		font-size: 10pt;
		color: #FF0C7A;
		vertical-align: middle;
		cursor: pointer;
		z-index: 4;		
	}

	#video1 {
	top: 49px;
	left: 12px;
	}

	#video2 {
	top: 142px;
	left: 12px;
	}

	#video3 {
	top: 248px;
	left: 13px;
	}
	
	#video4 {
	top: 348px;
	left: 13px;
	}

	#tv1, #tv2, #tv3, #tv4 {
		position: relative;
		z-index: 6;
		cursor: pointer;
	}


/* Contact Styles */
	#contactus {
		width: 724px;
		margin: 20px auto 0px auto;
		position: relative;
	}

	#contactus h1 {
		font-family: dimboregular;
		font-size: 32pt;
		color: #4058A1;
	}

	#contactus h2 {
		font-family: dimboregular;
		font-size: 26pt;
		color: #4058A1;
		text-align: right;
	}

	#contactus a {
		text-decoration: none;
	}

	#contactphone {
		position: absolute;
		top:137px;
		right: 60px;
		text-align: left;
	}

	#contactemail {
		position: absolute;
		top:240px;
		right: 60px;
		text-align: left;
	}

	#contactaddress {
		position: absolute;
		top:320px;
		right: 60px;
		text-align: left;
	}

	#contacttwitter {
		position: absolute;
		top:475px;
		right: 60px;
		text-align: left;
	}

	#Facebooks {
		position: absolute;
		width: 332px;
		height: 64px;
		top:620px;
		right: 60px;
	}

/*Registration Styles*/

	#regi {
		margin-top:20px;
		font-family: Arial;
		font-size: 36px;
		text-align: center;	
		padding: 2px;		
	}

	#regi h1 {
		font-family: dimboregular;
		font-size: 26pt;
		color: #FF0C7A;
		display: inline-block;
		margin: 0px 0px 0px 0px;
	}

	#regi p {
		font-size: 10pt;
		margin: 0px 0px 0px 0px;
	}


	form.cmxform fieldset {
		width:800px;
		margin: 20px auto 10px auto;		
	}

	form.cmxform legend {
	  padding: 0 2px;
	  font-weight: bold;
	}

	form.cmxform label {
	  display: inline-block;
	  line-height: 1.8;
	  vertical-align: top;
	}

	form.cmxform fieldset ol {
	  margin: 0;
	  padding: 0;
	}

	form.cmxform fieldset li {
	  list-style: none;
	  font-family: Arial;
	  font-size: 10px;
	  padding: 5px;
	  margin: 0;
	}

	form.cmxform fieldset fieldset {
	  border: none;
	  margin: 3px 0 0;
	}

	form.cmxform fieldset fieldset legend {
	  padding: 0 0 5px;
	  font-weight: normal;
	}

	form.cmxform fieldset fieldset label {
	  display: block;
	  width: auto;
	}

	form.cmxform em {
	  font-weight: bold;
	  font-style: normal;
	  color: #f00;
	}

	form.cmxform label {
	  width: 80px; /* Width of labels */
	}

	form.cmxform fieldset fieldset label {
	  margin-left: 83px; /* Width plus 3 (html space) */
	}

/*Wait List Styles*/ 

	#waitlist {
		width: 550px;
		margin: 20px auto 0px auto;
	}

	#waitlist p{
		margin: 10px auto 0px auto;
		font-size: 12px;
		color: #000000;
	}

	#waitlist h1{
		font-size: 14px;
		color: #000000;
		text-decoration: underline;
		text-align: center;
		font-family: arial;
	}

	#request {
		margin-top: 10px;
	}

	#request li {
		list-style: none;
		font-family: Arial;
		font-size: 12px;
		padding: 5px;
	}

/*Success Styles*/
	#success {
		width: 1000px;
		margin: 20px auto 0px auto;
		text-align: center;
	}

	#success h1 {
		font-family: dimboregular;
		color: #2DB6EA;
		font-size: 32pt;
	}

	#success h2 {
		font-family: "arial";
		font-size: 14pt;
	}


/* Waiver Styles*/
	
	#waiver {
		width: 750px;
		margin: 20px auto 0px auto;
		font-family: arial;
	}

	#waiver p{
		margin: 10px auto 0px auto;
		font-size: 12px;
		color: #000000;
	}

	#waiver h1{
		font-size: 14px;
		color: #000000;
		text-decoration: underline;
		text-align: center;
	}

/* Photo Waiver Styles */
	
	#photowaiver {
		width: 750px;
		margin: 20px auto 0px auto;
		color: #000000;
	}

	#photowaiver h1 {
		margin-top:20px;
		font-family: Arial;
		font-size: 14px;
		text-align: center;	
		padding: 2px;	
		font-style: bold;
		text-decoration: underline;
	}

	#photowaiver h2 {
		margin-top: 20px;
		font-family: Arial;
		font-size: 12px;
		text-align: right;
		padding: 2px;
	}

	#photowaiver p {
		margin-top:20px;
		font-family: Arial;
		font-size: 12px;
		text-align: justify;	
		padding: 2px;
		color: #000000;
	}
	
	#photowaiver ol {
		list-style: inside;
		font-family: Arial;
		margin-top: 20px;
		font-size: 12px;
		margin-left: 20px;
		padding: 2px;
	}

/* Class Styles*/
.classes{
	width: 927px;
	margin:0px auto;
    border: 10px solid #57227E;
    border-radius: 25px;
    background-color: #FFF;
    font-family: dimboregular;
    padding: 5px;
    position: relative;
    z-index: 0;
  }

  .dow{
    width: 118px;
    height: 15px;
    padding:0px;
    font-weight: normal;
    font-size: 28px;
    color: #038141;
  }

  .tod{
  	color: #57227E;
  }

  .classes td{
    border-radius: 10px;
    margin-bottom: 100px;
    height: 72px;
    font-size: 20px;
  }

  .classes td a {
    display: block;
    text-decoration: none;
    width:100%;
    height:100%;
  }

  .noclasses{
    background-color: #FFFFFF;
    border: 3px solid #DDD;
  }
  
  .classdates{
    background-color: #A5E8FE;
    border: 3px solid #A5E8FE;
  }

  .classdates:hover{
    border: 3px solid #FF006C;
  }

  .specialevents{
  	background-color: #70BD17;
    border: 3px solid #70BD17;
  }

  .specialevents:hover{
  	border: 3px solid #FE0000;
  }

  #overlayTrans{
    height:100%;
    width:100%;
    background-image:url(Images/whitetrans.png);
    position:fixed;
    z-index:100;
    top:0px;
    left: 0px;
    visibility:hidden;
  }

  #classOverlay{
    width: 400px;
    position: absolute;
    z-index: 200;
    top:200px;
    margin: 0px auto 0px auto;
    padding: 10px 10px 20px 10px;
    background-color: #6ED7FA;
    border: 3px solid #000000;
    border-radius: 20px;
    font: arial 12pt;
    visibility: hidden;
    text-align: center;
  }

  #classinfo{
  	width: 600px;
  	margin: 0 auto;
  	text-align: center;
  }

  #classinfo h4, #classOverlay h4{
    margin:0px;
  }

  #classinfo p, #classOverlay p{
    margin-top:0px;
    font-size: 12pt;
  }

  #olcontleft{
    width: 223px;
    display: inline-block;
    text-align: center;
     *display: inline;
      zoom: 1;
    vertical-align: top;
    padding:;
  }

  #olcontleft a{
    text-decoration: none;
  }

  #olcontright{
    width: 173px;
    display: inline-block;
    text-align: left;
     *display: inline;
      zoom: 1;
  }

  #olcontright ul{
    font-family: arial;
    font-size: 12pt;
    color: #000000;
  }

  .register{
    padding: 5px;
    background-color: #57227E;
    border-radius: 10px;
    border: 3px solid #FFF;
    font-family: dimboregular;
    font-size: 32px;
    color: white;
    text-decoration: none;
  }

  .register:hover{
    border: 3px solid #FFE320;
  }

h1 {
   		font-family: dimboregular;
      color: #0054A6;
      font-size: 36px;
      margin: 0px;
      font-weight: normal;
   }

   h2 {
      font-family: dimboregular;
      color: #57227E;
      font-size: 32px;
      margin: 0px;
      font-weight: normal;
   }

   h3 {
      font-family: dimboregular;
      color: #57227E;
      font-size: 28px;
      margin: 0px;
      font-weight: normal;
   }

   h4{
    font-family: dimboregular;
      color: #57227E;
      font-size: 19pt;
      margin: 0px;
      font-weight: normal;
   }

fieldset{
    width:725px;
    margin: 0px auto;
    border-radius: 20px;
    text-align: left;
    font-family: arial;
    font-size: 14pt;
    margin-bottom: 10px;
  }
