@charset "utf-8";
/* CSS Document */

#header {
	margin-top: 10px;
	margin-left: 70px;
	width: 1144px;
	height: 243px;
	z-index: 5;	
}
#buttons {
	margin-top: 20px;
	margin-left:  70px;
	width: 1169px;
	height: 92px;
	z-index: 5;	
}
div.body {
	margin-left: 70px;
	margin-top: 10px;
	width: 750px;
	height: auto;
	z-index: 5;
}
form.request li {
  list-style: none;
  font-family: Arial;
  font-size: 10px;
  padding: 5px;
  margin: 0;
}
div.body p {
 	margin-top:20px;
	font-family: Arial;
	font-size: 12px;
	text-align: justify;	
	padding: 2px;	
}
div.body h1 {
	margin-top:20px;
	font-family: Arial;
	font-size: 14px;
	text-align: center;	
	padding: 2px;	
	font-style: bold;
	text-decoration: underline;
	
}
div.body h2 {
	margin-top: 20px;
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	padding: 2px;	
}
div.body ol {
	list-style: inside;
	font-family: Arial;
	margin-top: 20px;
	font-size: 12px;
	margin-left: 20px;
	padding: 2px;
}
div.body a {
	margin-top:20px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;	
	padding: 2px;	
}
div.foot {
	margin-top: 40px;
	margin-left: 70px;
	width: 760px;
	height: 100px;
	z-index: 5;
	list-style: none;
}
div.foot ol {
	list-style: none;
	padding: 5px;
	margin-left: 50%;
	text-align: center;
	
}
div.foot li {
	list-style: none;
	padding: 5px;
	margin-left: 50%;
	text-align: center;
		
}
div.foot li a {
	padding: 0 10px;

}