@charset "utf-8";
/* CSS Document */
#header {
	margin-top: 10px;
	margin-left: 70px;
	width: 1144px;
	height: 243px;
	z-index:5;	
}
#buttons {
	margin-top: 20px;
	margin-left:  70px;
	width: 1169px;
	height: 92px;
	z-index:5;	
}
#twitterbird{
 margin-top: 28px;
 margin-left: 55px;
 width: 382px;
 height: 600px;
 z-index: 5;	
}
#tv{
	margin-top: 30px;
	margin-left: 150px;
	width: 599px;
	height: 504px;
	z-index: 10;
}
#mediaplayer{
	width: 480px;
	height: 270px;
/*	float: right; */
/*  margin-left: 635px; */
/*	margin-top:  638px; */
/*	margin-right: 135px; */
/*    margin-top: 160px; */
	z-index: 8;
}
